
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f5f5f5;
}

body{
    background-color: #0F1115;
    color: aliceblue;
}

.navbar{
    justify-content: center;
    border: rgb(172, 159, 159) solid .1rem;
    border-radius: .5rem;
    align-items: center;
    display: flex;
    width: 35rem;
    height: 4rem;
    gap: 5rem;
    margin-bottom: 4rem;
    background-color: #151821;
}

.btn-1{
    height: 1.5rem;
    cursor: pointer;
    width: 6rem;
    border: solid white .1rem ;
    border-radius: .2rem;
    background-color: transparent
}

.btn-2{
    height: 1.5rem;
    cursor: pointer;
    width: 6rem;
    border: solid rgb(255, 255, 255) .1rem;
    border-radius: .2rem;
    background-color: transparent;
    animation: ;
}

.btn-2:hover{
    animation-timing-function: ease-in-out;
}

#image-btn{
    border: solid white .1rem;
    padding-left: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: 1rem;
    border-radius: .2rem;
    color: white;
    cursor: pointer;
}

.image-box{
    border: solid white .1rem;
    border-radius: 1rem;
    height: 60vh;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151821;
    color: black;
}

.control input{
    width: 35rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.3rem;
}

.control{
    margin-top: 2rem;
}

.left-right{
    display: flex;
    gap: 10rem;
    border: solid white .1rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #0F1115;
}

.filters{
    border: solid white .1rem;
    border-radius: 1rem;
    padding: 3rem;
    background-color: #151821;
}

.left{
    border: solid white .1rem;
    border-radius: 1rem;
    padding: 3rem;
    background-color: #151821;
}

h2{
    font-size: large;
    letter-spacing: .1rem;
}

a{
    text-decoration: none;
}