*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    justify-content: center;
    border: solid black .1rem;
    border-radius: .5rem;
    align-items: center;
    display: flex;
    width: 30rem;
    height: 4rem;
    gap: 5rem;
}

.btn{
    height: 1.5rem;
    width: 6rem;
}

#btn{
    height: 1.5rem;
    width: 6rem;
}